{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/stylesheet.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
    <div class="main">
        <header>
            <div class="nav-elements-list">
                    <div class="city"><a class="default-link" href="" style="color:white">Город</a></div>
                    <div class="order"><a class="default-link" href="" style="color:white">Как заказать</a></div>
                    <div class="guarantee"><a class="default-link" href="" style="color:white">Гарантии</a></div>
                    <div class="about"><a class="default-link" href="" style="color:white">О нас</a></div>
            </div>
            <div class="search-elements">
                <div class="logo">
                    <a href=""><img class="logo-image" src="{%static 'img/Walter_White.jpg'%}"></a> 
                </div>
                <div class="catalog">
                    <nav class="dws-menu">
                        <ul>
                          <li><a href="#"><i class="fa fa-cogs"></i>Каталог</a>
                            <ul>
                              <li><a href="#">Мыши</a></li>
                              <li><a href="#">Клавиатуры</a></li>
                              <li><a href="#">Наушники</a></li>
                              <li><a href="#">Микрофоны</a></li>
                            </ul>
                          </li>
                      </nav>
                </div>
                <div class="search">
                     <input placeholder="Поиск товара">
                </div>
                <div class="cart">
                    <div class=""><a class="default-link" href="" style="color:black"><img class="icon" src="{%static 'img/cart-svgrepo-com.svg'%}"></a></div>
                    <div class=""><a class="default-link" href="" style="color:black">Корзина</a></div>
                </div>
                <div class="user">
                    <div class=""><a class="default-link" href="/login"><img class="icon" src="{%static 'img/user-svgrepo-com.svg'%}"></a></div>
                    <div class=""><a class="default-link" href="/login" style="color:black">Вход</a></div>
                </div>
                <div class="favorite">
                    <div class=""><a class="default-link" href=""><img class="icon" src="{%static 'img/heart-svgrepo-com.svg'%}"></a></div>
                    <div class=""><a class="default-link" href="" style="color:black">Избранное</a></div>
                </div>
                <div class="blank"></div>
            </div>
        </header>
    </div>
</body>
</html>