{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/stylesheet.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
    <div class="main">
        <header>
            <div class="nav-elements-list">
                <div class="city"><a class="default-link" href="" style="color:white">Город</a></div>
                <div class="order"><a class="default-link" href="" style="color:white">Как заказать</a></div>
                <div class="guarantee"><a class="default-link" href="" style="color:white">Гарантии</a></div>
                <div class="about"><a class="default-link" href="" style="color:white">О нас</a></div>
        </div>
        </header>
        <div class="login-block">
            <form method="POST">
                <div class="login">
                    Login
                    <input id="login" name="login" type="text" required>
                </div>
                <div class="password">
                    Password
                    <input id="password" name="password" type="password" required>
                </div>
                <div class="submit">
                    <input class="confirm" type="submit" value="Login">
                </div>
            </form>
        </div>
        <a id="to-home" class="nav-link" href="/">Домой</a></li>
    </div>
</body>
</html>