body{
    margin: 0;
    font-family: "Roboto";
}
input{
    width: 30%;
    border: 2px solid #e8e8e8;
    background-color: white;
    height: 20px;
    line-height: 1;
    padding: 11px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    color: black;
    position: absolute;
}
.icon{
    max-width: 100%;
    border: 0;
    height: 28px;
    width: 28px;
}
.default-link{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;   
}
.nav-elements-list{
    background-color: black;
    padding-bottom: 10px;
    display: flex;
    padding-top: 10px;
}
.city{
    margin-left: 20%;
    flex: 1;
}
.order{
    margin-left: 8%;
    flex: 1;
}
.guarantee{
    flex: 1;
}
.about{
    flex: 9;
}
.search-elements{
    padding-bottom: 10px;
    display: flex;
    padding-top: 10px;  
}
.logo{
    flex: 2;
    margin-left: 20%; 
}
.logo-image{
    max-width: 100%;
    border: 0;
    height: 75px;
    width: 200px;
}
.catalog{
    flex: 1;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: centet;
}
.search{
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 10px;
}
.cart{
    margin-left: 30%;
    flex: 1;
    text-align: center;
}
.user{
    flex: 1;
    text-align: center;
}
.favorite{
    flex: 1;
    text-align: center;
}
.blank{
    flex: 4;
}
.dws-menu *{
    margin: 0;
    padding: 0;
}
.dws-menu ul,
.dws-menu ol{
    list-style: none;
}
.dws-menu > ul{
    display: flex;
    justify-content: center;
}
.dws-menu > ul li{
    position: relative;
    border-right: 1px solid #c7c8ca;
}
.dws-menu > ul li:first-child{
    border-left: 1px solid #b2b3b5;
}
.dws-menu > ul li:last-child{
    border-right: 1px solid #babbbd;
}
.dws-menu > ul li > a i.fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}
.dws-menu > ul li a{
    display: block;
    background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 );
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform:uppercase;
    transition: all 0.3s ease;
}
.dws-menu li a:hover{
    background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 );
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}
.dws-menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
}
.dws-menu li > ul li{
    border: 1px solid #c7c8ca;
}
.dws-menu li > ul li a{
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
}
.dws-menu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
}
.dws-menu li:hover > ul{
    display: block;
}
/*temporary login*/
.login-block{
 
}
.login{
    margin-top: 5%;
    margin-left: 30%;
}
.password{
    margin-top: 30px;
    margin-left: 30%;
}
.submit{
    margin-top: 30px;
    margin-left: 30%;
}
.confirm{
    padding-top: 20px;
    cursor: pointer;
}
#to-home{
    color: black;
}
