body{
    margin: 0;
    font-family: "Roboto";
}
ul{
    display: inline;
}
li{
    display: inline;
}
input {
    width: 30%;
    border: 2px solid #e8e8e8;
    background-color: white;
    height: 20px;
    line-height: 1;
    padding: 11px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    color: black;
    position: absolute;
 
}
.logo{
    padding-right: 25px;
}
.logo-image{
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    margin-top: 15px;
    height: 75px;
    width: 200px;
}
.main {
 
}
.nav-elements-list{
    background-color: black;
    display: flex;
    flex-grow: 1;
    list-style: none;
    margin: 0 auto 0 0;
    padding: 0 10px;
}
.nav-element{
    white-space: nowrap;
    width: 285px;
    padding-left: 100px;
    text-align: center;
}
.nav-link{
    color: white;
    cursor: pointer;
    display: inline-block;
    line-height: 32px;
    padding-left: 15px;
    text-decoration: none;
}
.search{
    padding-top: 30px;
}
.search-bar{
    display: flex;
    flex-direction: row;
    margin: 20px 30px;
    text-align: center;
}
.cart{
    padding-left: 35%;
    padding-top: 2%;
}
.user{
    padding-left: 5%;
    padding-top: 2%;
} 
 
.default-link{
    color: black;
    cursor: pointer;
    display: inline-block;
    line-height: 32px;
    text-decoration: none;   
}
.login-block{
 
}
.login{
    margin-top: 5%;
    margin-left: 30%;
}
.password{
    margin-top: 30px;
    margin-left: 30%;
}
.submit{
    margin-top: 30px;
    margin-left: 30%;
}
.confirm{
    padding-top: 20px;
    cursor: pointer;
}
#to-home{
    color: black;
}
